body {
    background-color:#1e96fc; /* Bootstrap primary blue */
    color: #fff; /* Text color */
   
}
.navbar-nav .nav-link {
            font-size: 18px;
        }
.container {
    border-radius: 5px;
    padding: 20px;
    margin-top: 50px;
}

.tune {
    width: 35%;
    margin: auto;
}

.post {
    background-color: rgb(71, 47, 224);
    width: 36%;
    margin-left: 32%;
    margin-top: 2em;
    padding: 1em;
}